/* Common CSS Start */
body {
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #0f2656;
}

/* color: 
Primary text: 2c3861 (NB)
Menu Itmes: SkyBlue 493a6a
*/

/* Common CSS End */

/* Header Section Start */
header {
	padding: 5px 0;
	border-bottom: #d0cfd3 solid 2px;
}

.container {
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
	box-sizing: border-box;
}
.logo {
	width: 10%;

	float: left;
}

.logo img {
	width: 100%;
}

.menu-bar {
	width: 50%;

	float: right;
	margin-top: 6px;
}

.menu-bar ul {
	float: right;
}

.menu-bar ul li {
	list-style: none;
	float: left;
}

.menu-bar ul li a {
	display: inline-block;
	padding: 0 25px;
	color: #6389f8;
	text-decoration: none;
	transition: 5ms;
}

.menu-bar ul li a:last-child {
	padding-right: 0;
}

.menu-bar ul li a:hover {
	color: #493a6a;
}
/* Header Section Ends */
/* Banner Starts */
.banner {
	padding: 20px 0;
}
.banner-container {
	width: 65%;
	text-align: center;
	margin: 0 auto;
	padding: 30 auto;

	overflow: hidden;
}
.banner-heading {
	font-size: 48px;
	padding: 0 150px;
	font-weight: 700px;
	margin-bottom: 0;
	line-height: 60px;
}
.banner-heading span {
	color: #4d89fb;
}
.banner-text {
	line-height: 25px;
	margin: 10px 30px;
	padding: 0 33px;
}
.banner-img {
	width: 80%;
	margin: 0 auto;
}
.banner-img img {
	width: 100%;
}

/* Banner ends */

/* highlights Start */
.high-count {
	width: 50%;
	float: left;
	/* padding: 25px 20px 10px 10px; */

	padding: 30px 17px 0px 65px;
	box-sizing: border-box;
}
.high-count p {
	text-align: right;
	line-height: 30px;
}
.high-count p span {
	display: block;
	margin-bottom: 15px;
	font-size: 40px;
	font-weight: 700;
	color: #f15767;
}
.high-text {
	width: 50%;
	float: right;
	padding: 0px 80px 0px 0px;
	box-sizing: border-box;
}
.high-text h2 {
	text-align: left;
	font-size: 40px;
	font-weight: 700;
	color: #0f2656;
}

.service-box {
	width: 31%;
	float: left;
	margin: 1% 1%;
	padding: 40px 2%;
	box-sizing: border-box;
	opacity: 0.8;
}
.service-box p {
	text-align: left;
	/* padding: 0 30px; */
}
.service-box:first-child {
	background-color: #fdebed;
}
.service-box:nth-child(2) {
	background-color: #ebf9f4;
}
.service-box:last-child {
	background-color: #fff7e8;
}
.service-box-image {
	width: 100%;
}

.service-box:hover {
	border: #008aff solid 1px;
	opacity: 1;
}
/* service section ends */

/* footer */
footer {
	background-color: #008aff;
	text-align: center;
	margin-top: 70px;
	padding: 10px 10px;
	color: #9ed2ff;
}
footer p {
	font-size: 12px;
	font-weight: 700;
}
footer p a {
	font-size: 16px;
	font-weight: 700;

	text-decoration: none;
	color: #9ed2ff;
}
