html {
	box-sizing: border-box;
	width: 1200px;
	margin: auto;
}
body {
	overflow: hidden;
}
.container {
	overflow: hidden;
	padding: 20 0 20 0;
	/* border-bottom: 1px solid rgb(128, 128, 128); */
}

.logo {
	width: 30%;
	float: left;
}
.menu-bar {
	width: 70%;
	float: right;
}

.menu-bar-list {
	text-align: right;
}
.menu-bar-list li {
	display: inline-block;
	padding: 0px 30px 0px 30px;
}

.menu-bar-list li a {
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: blue;
	text-transform: uppercase;
	font-weight: bold;
}
